{% extends 'base.html' %}

{% block content %}
  <h1>Todo</h1>
  <hr>
  {% for todo in todos %}
    <li>{{ todo.author }} - {{ todo.title }}</li>
    {% if request.user == todo.author %}
      <form action="{% url 'todos:delete' todo.pk %}" metho="POST">
        {% csrf_token %}
        <input type="submit" value="삭제하기">
      </form>

      {% if todo.completed == 1 %}
      <form action="{% url 'todos:cancel' todo.pk %}" metho="POST">
        {% csrf_token %}
        <input type="submit" value="취소하기">
      </form>
      {% endif %}

      {% if todo.completed == 0 %}
        <form action="{% url 'todos:completed' todo.pk %}" metho="POST">
          {% csrf_token %}
          <input type="submit" value="완료하기">
        </form>
      {% endif %}
    {% endif %}
  {% empty %}
    <li>작성된 글이 없습니다.</li>
  
  {% endfor %}
  
  
{% endblock content %}
